@import '../../index';

button.ant-btn {
  height: @btn-height !important;
  text-transform: capitalize;

  span {
    font-family: @ff-primary;
    font-weight: 600;
  }

  &.icon-btn {
    width: 60px !important;
    height: 52px !important;
  }

  &.ant-btn.tab-btn {
    height: 52px !important;
    font-size: 1.4em !important;
  }

  &.signin-btn {
    width: 108px !important;
    height: 46px !important;

    span {
      font-size: 14px !important;
    }
  }

  &.ant-btn-ghost {
    color: #888B97;
    border: 1px solid #E0E3EB;
  }
}

button.ant-btn:not(.ant-btn.icon-btn),
span {
  display: inline-flex;
  align-items: center;
  gap: 1em;
  font-family: @ff-primary;
  font-weight: 600;
  font-size: 0.9em
}

:where(.css-dev-only-do-not-override-tpni31).ant-btn-primary:disabled {
  border-color: transparent !important;
}

button.ant-btn,
button.ant-btn.ant-btn-default {
  display: inline-flex;
  align-items: center !important;
  justify-content: center;

  span,
  .ant-space-item{
    display: inline-flex;
    align-items: center !important;
    font-size: 1em;
    font-family: @ff-primary;
    line-height: 1em;
  }
}
