@import '../../index';

button.ant-btn {
  height: @btn-height !important;
}

button.ant-btn,
span {
  display: inline-flex;
  align-items: center;
  gap: 1em;
  font-family: @ff-primary;
  font-weight: 600;
  font-size: 0.9em
}
