@import '../../index';

.footer {
  &-description {
    margin: 16px 0 24px 0 !important;
    font-family: @ff-primary !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 24px !important;
    color: @grey-color !important;
    opacity: 0.75 !important;
  }

  h4.ant-list-item-meta-title {
    margin-bottom: 24px !important;
    font-family: @ff-primary !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    text-transform: capitalize !important;
    color: #0E1735 !important;
  }

  .ant-anchor-link-title,
  &-list-navLink {
    display: block !important;
    margin-bottom: 18px !important;
    font-family: @ff-primary !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    text-transform: capitalize !important;
    color: #888B97 !important;
  }

  :where(.css-dev-only-do-not-override-1i536d8).ant-list .ant-list-item {
    padding: 0 !important;
  }
}
