
.featured-house {
  position: relative;
  svg.prev-arrow {
    transform: rotate(-180deg);
  }

  :where(.css-dev-only-do-not-override-1i536d8).ant-tabs-top >.ant-tabs-nav::before, :where(.css-dev-only-do-not-override-1i536d8).ant-tabs-bottom >.ant-tabs-nav::before, :where(.css-dev-only-do-not-override-1i536d8).ant-tabs-top >div>.ant-tabs-nav::before, :where(.css-dev-only-do-not-override-1i536d8).ant-tabs-bottom >div>.ant-tabs-nav::before {
    border-bottom: 0;
  }

  &-title-wrap {
    position: absolute;
    left: 0;
    top: -3%;
    align-self: center;
  }
  .btns-wrap {
    position: absolute;
    right: 0;
    top: 2%;
    align-self: center;
  }
}
